@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color: #ffffff;
  background-color: #000000;
}

#container th h1 {
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  color: #ffffff;
}

#container td {
  font-weight: normal;
  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
  -moz-box-shadow: 0 2px 2px -2px #0E1119;
  box-shadow: 0 2px 2px -2px #0E1119;

}

#container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

#container td,
#container th {
  padding-bottom: 2%;
  padding-top: 2%;
  padding-left: 10px;
}


#container tr:nth-child(odd) {
  background-color: #323C50;
}


#container tr:nth-child(even) {
  background-color: #2C3446;
}

#container th {
  background-color: #185875;
}

#container td:first-child {
  color: #FB667A;
}

#container tr:hover {
  background-color: #464A52;
  -webkit-box-shadow: 0 6px 6px -6px #0E1119;
  -moz-box-shadow: 0 6px 6px -6px #0E1119;
  box-shadow: 0 6px 6px -6px #0E1119;
}

#container td:hover {
  background-color: #eeeeee;
  color: #000000;
  font-weight: bold;
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {

  #container td:nth-child(4),
  #container th:nth-child(4) {
    display: none;
  }
}

th.sorted[data-order="-1"]::after {
  content: "▼"
}

th.sorted[data-order="1"]::after {
  content: "▲"
}


.chois {
 display: flex;
  justify-content: center;
}


.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(59, 52, 52) 50%, rgb(160, 64, 64) 50%);
  bottom: 0;
  left: -50%;
  opacity: .1;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}


@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

button {
  cursor: pointer;
  border-radius: 50%;
}

#buttonControl{
  display: flex;
  justify-content: center;
  margin-top: -8rem;
}